## Q1. Write a python program to return the buying and selling price for a stock from list of prices. 
The input should be a list of prices and the output should be the buying and selling price of the stock. 
You should buy the stock at cheap price and sell the stocks when the price is high.

In [21]:
prices = [59,80,90,98]
buying_price = min(prices)
print(buying_price)
selling_price = max(prices)
print(selling_price)

59
98

## Q2. Write python a function that checks whether all numbers in a list are greater than 10 using inbuilt functions.

In [3]:
lst=[5,7,10,11,15]
def greater():
    result=list(filter(lambda x:x>10,lst))
    print(result)
greater()

[11, 15]

## Q3. Write a python program for a list of strings, return a dictionary where the key is the string and the value is its index in the list.

In [30]:
lst=["ashwini","kiran","arti","pooja"]
for i,index in enumerate(lst):
    print(i,index)
dict={index:i}
print(dict)

0 ashwini
1 kiran
2 arti
3 pooja
{'pooja': 3}

## Q4. Write a python program for a list of integers, compute the sum of elements at even indices.

In [15]:
n1=int(input("enter no"))
n2=int(input("enter no"))
n3=int(input("enter no"))
n4=int(input("enter no"))
n5=int(input("enter no"))
n=[n1,n2,n3,n4,n5]
sum=0
even=int(n)%2==0
for i in even:
    sum+=1
print(sum)

enter no 6
enter no 4
enter no 2
enter no 3
enter no 5

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'list'

## Q5.Write a python program for a list of strings, each a sentence, return a flat list of all words.

In [31]:
lst=["ashwini","kiran","arti","pooja"]


print(lst)

['ashwini', 'kiran', 'arti', 'pooja']

## Q6. Given a DataFrame with dates and temperatures:

Group by Month

For each group, calculate the range (max - min) of temperature using a custom function.

In [ ]:

df = pd.DataFrame({
    'Date': pd.date_range('2022-01-01', periods=100),
    'Temp': np.random.randint(15, 35, size=100)
})
df['Month'] = df['Date'].dt.month

## Q7. For the following dataframe Return only rows where Revenue > 1.5 * Cost

In [35]:
import pandas as pd
df = pd.DataFrame({
    'Product': ['A', 'B', 'C'],
    'Revenue': [100, 80, 150],
    'Cost': [60, 90, 70]
})

## Q8. For the following dataframe show the percentage breakdown of purchases by Gender and Category.

In [33]:
import pandas as pd
df = pd.DataFrame({
    'Gender': ['M', 'F', 'M', 'F', 'M'],
    'Category': ['A', 'A', 'B', 'B', 'B']
})

## Q9. From the following DataFrame of transactions:


- Only include transactions where Amount > 100

- Return a DataFrame with total amount spent per customer (after filtering)

In [36]:
import pandas as pd
df = pd.DataFrame({
    'CustomerID': [101, 102, 101, 103, 102, 104],
    'Amount': [150, 90, 200, 300, 120, 80],
    'TransactionID': ['T1', 'T2', 'T3', 'T4', 'T5', 'T6']
})

## Q10. For the following dataframe of transactions Plot the total amount spent by each customer using a horizontal bar chart (ordered by value).

In [37]:
import pandas as pd
df = pd.DataFrame({
    'CustomerID': [101, 102, 101, 103, 102, 104],
    'Amount': [150, 90, 200, 300, 120, 80],
    'TransactionDate': pd.to_datetime([
        '2023-01-01', '2023-01-02', '2023-01-10', 
        '2023-02-01', '2023-02-10', '2023-03-01'
    ])
})

## Q11. For the dataframe of transactions (above mentioned df).
- Calculate total sales by region

- Plot as a pie chart with percentages and exploded slices

## Q12. For the following dataframe 

- Plot a scatter plot of Price vs Rating, using:

   - hue = Category

   - size = Sales

- Use seaborn.scatterplot().