### 1.write a program to print all numbers between 1-100 where the number is divisible by 4 or 9 and contains the digit 2.

In [5]:
for i in range(10,100):
    if i%4 and i%9==0:
        print(i)

18
27
45
54
63
81
90
99

### 2.Take a string input and print 'strong' if it contains at least one uppercase letter,one lowercase letter,and one digit;otherwise print 'weak'

In [15]:
string=input("enter string")
if string.isdigit and string.isupper and string.islower:
    print("strong")
else:
    print("weak")

enter string sfhA123

strong

### 3.write a program that counts how many increasing sequences exist in the list of integers.

In [ ]:
lst=[]

### 4.write a program to calculate the sum of digits of a number without converting it to a string.

In [23]:
n=int(input("enter number"))
sum=0
digit=0
for i in range(n+1):
    sum+=1
print(sum)

enter number 123

124

### 5.write a function that returns unique values,duplicate values, and a frequency dictionary from a given list.

### 6.create function that accepts a list and returns(total_sum,total_count,average,sum_of_even,sum_of_odd).

In [28]:
lst=[2,3,4,5]
total_sum=sum(lst)
print(total_sum)
sum_even=list(filter(lambda x:x%2==0,lst))
print(sum_even)
print(sum(sum_even))
sum_odd=list(filter(lambda x:x%2!=0,lst))
print(sum_odd)
s=sum(sum_odd)

TypeError: 'int' object is not callable

### 7. write a function that accepts a list of tuples and returns a list containing the sum of each tuple,doubling the value for single element tuples.

### 8.using map and lambda,convert a list so negative numbers become positive,zero becomes 'Zero',and positive numbers remain unchanged.

In [42]:
lst=[-2,-4,6,9,0]
result=list(map(lambda x:-x,lst))
print(result)
result2=list(map(lambda x:x>0,result))
print(result2)
result3=list(map(lambda x:'Zero' if x==0 else x,result))
print(result3)

[2, 4, -6, -9, 0]
[True, True, False, False, False]
[2, 4, -6, -9, 'Zero']

### 9.use filter and lambda to keep only values that are multiple of 3 and also leave a remainder of 1 when divided by 4.

In [44]:
lst=[2,3,4,5,6,7,8]
result=list(filter(lambda x:x%3,lst))
print(result)
result2=list(map(lambda x:1 if x%4 else x,lst))
print(result2)

[2, 4, 5, 7, 8]
[1, 1, 4, 1, 1, 1, 8]

### 10.use enumerate() to print items where index+value is even

In [55]:
lst=[2,4,6,8,9]
for i,index in enumerate(lst):
    if i%2==0:
        print(i,index)

0 2
2 6
4 9

### 11.use reduce to return the difference between the sum of odd numbers and sum of even numbers.

In [92]:
from functools import reduce
lst=[2,4,5,6,7]
result=list(filter(lambda x:x%2==0,lst))
print(result)
r1=reduce(lambda x,y:x+y,result)
print(r1)
result2=list(filter(lambda x:x%2!=0,lst))
print(result2)
r2=reduce(lambda x,y:x+y,result2)
print(r2)
final_result=r1-r2
print(final_result)

[2, 4, 6]
12
[5, 7]
12
0

### 12.given a list ,remove duplicates,sort ascending,convert to a tuple,and print the first,middle ,and last elements.

In [80]:
lst=[7,3,9,5,6,7,9]
res=set(lst)
print(res)
res1=sorted(res)
print(res1)
s=tuple(res1)
print(s)
result=s[0] 
r=s[-1]
r1=s[2]
print("first:",result)
print("last:",r)
print("middle:",r1)

{3, 5, 6, 7, 9}
[3, 5, 6, 7, 9]
(3, 5, 6, 7, 9)
first: 3
last: 9
middle: 6

### 13.convert a tuple into a list,remove elements at even positions, and convert it back to a tuple.

In [110]:
t=(2,3,4,5,8,9)
p=list(t)
print(p)
res=list(filter(lambda x:x%2==0,p))
print(res)
res.clear()
print(res)

[2, 3, 4, 5, 8, 9]
[2, 4, 8]
[]

### 14.Given a set,add and remove elements,create a new set with each element divided by 2,and print both the sets.

### 15. modify a dictionary so that it contains discounted price,price category,and the name in uppercase.

### 17.Take an integer input and raise a custom exception if the number is below 10;handle invalid input and always print a completion message.

In [153]:
try:
    n=int(input("enter number"))
    if n<10:
        pass
except ValueError:
    print("false value")
else:
    print("True")
finally:
    print("Done")

enter number 78

True
Done

### 18.Write a program to access index 5 of a list;if IndexError occurs,repeat the last element three times.

### 19. create a file,write marks entered by the user,then read and print the highest,lowest and average mark.

In [164]:
f=open("ashwini.txt",'x')

FileExistsError: [Errno 17] File exists: 'ashwini.txt'

### 20.create a file names entered by the user and print only those names with more than five characters.

### 21.using list comprehension ,generate cubes of numbers from 1 to 30 that are divisible by 3 or end with 7.

In [167]:
cubes=[i**3 for i in range(1,31) if i%3==0]
print(cubes)

[27, 216, 729, 1728, 3375, 5832, 9261, 13824, 19683, 27000]

### 23.using map and lambda,convert each number in a list into 'POS','NEG','ZERO'

In [128]:
lst=[2,3,-4,-5,0,7]
result1=list(map(lambda x:'POS' if x>0 else x,lst))
print(result1)
result2=list(map(lambda x:'NEG' if x<0 else x,lst))
print(result2)
result3=list(map(lambda x:'ZERO' if x==0 else x,result2))
print(result3)

['POS', 'POS', -4, -5, 0, 'POS']
[2, 3, 'NEG', 'NEG', 0, 7]
[2, 3, 'NEG', 'NEG', 'ZERO', 7]